.signup h1 {
    color: blueviolet;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.login h1 {
    color: blueviolet;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.login p {
    color: red;
    text-align: center;
    font-size: 15px;
    font-style: italic;
}